.scrollup {
    background-color: var(--title-color);
    position: fixed;
    right: 2.5rem; bottom: -20%;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
    opacity: 0.8;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup_icon {
    color: var(--container-color);
    font-size: 1rem;
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

/*============== BREAKPOINTS =============*/

.show-scroll {
    bottom: 3rem;
}

/*========== LARGE DEVICES ==========*/
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem;
        padding: 0.25rem 0.4rem;
    }
    .scrollup_icon {
        font-size: 1rem;
    }
}

/*========== MEDIUM DEVICES ==========*/
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 4rem;
    }
}

/*========== SMALL DEVICES ==========*/
@media screen and (max-width: 350px) {
    .show-scroll {
        right: 1rem;
    }
}