

.work_container {
    grid-template-columns: repeat(3, max-content);
    gap: 3rem;
    justify-content: center;
}

.work_card {
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    cursor: pointer;
}

.work_img {    
    width: 300px;
    border-radius: 1rem;
}




.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.work_button {
    color: var(--text-color);
    display: flex;
    font-size: var(--small-font-size);
    align-items: center;
    column-gap: 0.25rem;
}
.work_button-icon {
    font-size: 1rem;
    transition: 0.4s;
}

.work_button:hover .work_button-icon {
    transform: translateX(0.25rem);
}

/*============== ACTIVE WORK =============*/
.active-work {
    background-color: var(--title-color);
    color: var(--container-color);
}

/*============== BREAKPOINTS =============*/

/*========== LARGE DEVICES ==========*/
@media screen and (max-width: 992px) {
    .work_container {
        gap: 1.25rem;
    }
    .work_card {
        padding: 1rem;
    }
    .work_img {
        margin-bottom: 0.75rem;
    }
    .work_title {
        margin-bottom: 0.25rem;
    }
}

@media screen and (max-width: 768px) {
    .work_container {
        grid-template-columns: max-content;
    }
}

@media screen and (max-width: 567px) {
    .work_container {
        grid-template-columns: 1fr;
    }
    .work_img {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .work_item {
        font-size: var(--small-font-size);
    }
    .work_filters {
        column-gap: 0.25rem;
    }
}