.about_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
    /* border: 1px solid red; */
}




.about_img {
    justify-self: center;
    width: 350px;
    border-radius: 1.5rem;
}

.about_info {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
    /* border: 1px solid blue; */
}

.about_box {
    background-color: #fff;
    /* background-color: #171717; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about_icons {
    color: #171717;
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-5);
}

.about_title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: #171717 !important;
}

.about_subtitle {
    font-size: var(--tiny-font-size);
    color: #171717 !important;
}

.about_description {
    margin-bottom: var(--mb-2-5);
    padding: 0 4rem 0 1;
}

/*============== BREAKPOINTS =============*/

/*========== LARGE DEVICES ==========*/
@media screen and (max-width: 992px) {
    .about_container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about_img {
        width: 220px;
    }
    .about_box {
        padding: 0.75rem 0.5rem;
    }
    .about_data {
        text-align: center;
    }
    .about_info {
        justify-content: center;
    }
    .about_description {
        margin-bottom: 2rem;
        padding: 0 5rem;
    }
}

/*========== MEDIUM DEVICES ==========*/
@media screen and (max-width: 576px) {
    .about_info {
        grid-template-columns: repeat(3, 1fr);
    }
    .about_description {
        padding: 0;
    }
}

/*========== SMALL DEVICES ==========*/
@media screen and (max-width: 350px) {
    .about_info {
        grid-template-columns: repeat(2, 1fr);
    }
}
