.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer_container {
    padding: 2rem 0 6rem;
}

.footer_title, .footer_links {
    color: var(--title-color);
}

.footer_title {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer_links:hover {
    color: var(--title-color-dark);
}

.footer_list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}

.footer_social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer_social-links {
    background-color: var(--title-color);
    color: var(--container-color);
    display: inline-flex;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.footer_social-links:hover {
    background-color: var(--title-color-dark);
}

.footer_copy {
    display: block;
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    text-align: center;
    margin-top: 4.5rem;
}

/*============== BREAKPOINTS =============*/

/*========== LARGE DEVICES ==========*/
@media screen and (max-width: 992px) {
    .footer_social-links {
        font-size: 1rem;
        padding: 0.25rem;
        border-radius: 0.25rem;
    }
  }